* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  html, body{
    height: 100%;
  }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: white;
  color: #fff;
}

main{
  flex: 1;
  padding: 20px;
}


/* barra de pesquisa */
   .header-right {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    .search-bar {
      display: flex;
      width: 400px;
      height: 40px;
      border-radius: 4px;
      overflow: hidden;
      box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    }

    .search-bar select {
      background: #e6e6e6;
      border: none;
      padding: 0 10px;
      font-size: 14px;
      cursor: pointer;
    }

    .search-bar input {
      flex: 1;
      border: none;
      padding: 0 10px;
      font-size: 14px;
      outline: none;
    }

    .search-bar button {
      background-color: #e6e6e6;
      border: none;
      width: 40px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .search-bar button:hover {
      background-color: black;
    }

    .search-bar button img{
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
/* HEADER */
header {
  position: fixed;  /*deixa a header fixa*/
  box-sizing: border-box; /*impede o padding de mudar a largura*/
  top: 0; /* Posiciona no topo da janela */
  left: 0;  /* Posiciona no início da janela */
  width: 100%;  /* Ocupa toda a largura da janela */
  z-index: 100;  /* Garante que fique acima de outros conteúdos */
  background-color: #16181B;
  padding: 10px 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

header img {
  width: 40px;
}

nav a {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.carrinho-vazio {
  background: #067ece;
  background-size: cover;
  flex-direction: column;
  min-height: 73vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 4px #000;
  font-size: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  gap: 20px;
}

.carrinho-vazio img{
      width: 200px;
    }

.botao-continuar{
  background-color: rgb(48, 48, 255);
  color: white;
  border: none;
  font-family: 'Georgia', serif;
  font-size: 20px;
  padding: 20px 70px;
  border-radius: 5px;
  cursor: pointer;
}


/* RODAPÉ */
footer {
      background-color: #222;
      color: white;
      text-align: center; 
      height: 200px;
      font-size: 15px;
      padding: 5%;
      margin-top: 0;
}
